<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571292144995-7109f5q6kikb4lbpjnirfvdf9bfo091q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571292144995-7109f5q6kikb4lbpjnirfvdf9bfo091q</string>
	<key>API_KEY</key>
	<string>AIzaSyBGTPYWMmOurQgixfCuTBOHXQpYzO0PTfw</string>
	<key>GCM_SENDER_ID</key>
	<string>571292144995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ben.church</string>
	<key>PROJECT_ID</key>
	<string>benchurch-505a9</string>
	<key>STORAGE_BUCKET</key>
	<string>benchurch-505a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571292144995:ios:e2e6f602486c0cea61ef56</string>
	<key>DATABASE_URL</key>
	<string>https://benchurch-505a9.firebaseio.com</string>
</dict>
</plist>